<div class="section">
    <h5 class="section-title">Our Products</h5>
    <div class="d-flex justify-content-between product-row">
        <div *ngFor="let product of productsData" class="product-card card" id="platinum">
            <img [src]="product.imageUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" [textContent]="product.title | titleformat"></h5>
                <p class="card-text" [textContent]="product.description"></p>
              </div>
        </div>
    </div>
</div>
