<div class="section">
    <h5 class="section-title">Our Products</h5>
    <div class="d-flex justify-content-between product-row">
        <div class="product-card card" id="platinum">
            <img src="../../../../../assets/1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Platinum Investment</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quisquam ab consequatur laborum fugiat distinctio!</p>
              </div>
        </div>
        <div class="product-card card">
            <img src="../../../../../assets/2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gold Investment</h5>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias nemo ipsa dolor error excepturi! Iste.</p>
            </div>
            </div>
        <div class="product-card card">
            <img src="../../../../../assets/3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Silver Investment</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nemo impedit dolorem odit quia ea?</p>
            </div>
        </div>
    </div>
</div>
