<div class="section">
    <div class="footer-grid">
        <img src="../../../assets/bank-mandiri.svg" width="200" height="40" alt=""><br><br>
        <img src="../../../assets/OJK-black-id-v2.png" width="180" height="60" alt="">
    </div>
    <div class="footer-grid">
        <h5>Hubungi Kami</h5>
        <div class="footer-socmed">
            <i class="fa fa-envelope"></i>
            <a href="#">email</a>
        </div>
        <div class="footer-socmed">
            <i class="fa fa-facebook"></i>
            <a href="#">facebook</a>
        </div>
        <div class="footer-socmed">
            <i class="fa fa-twitter"></i>
            <a href="#">twitter</a>
        </div>
        <div class="footer-socmed">
            <i class="fa fa-telegram"></i>
            <a href="#">telegram</a>
        </div>
        <div class="footer-socmed">
            <i class="fa fa-address-book"></i>
            <a href="#">hubungi kami</a>
        </div>
        <div class="footer-socmed">
            <i class="fa fa-phone"></i>
            <a href="#">mandiri call 14000</a>
        </div>
    </div>
    <div class="footer-grid">
        <h5>Central Office</h5>
        <p>Jl. Jenderal Gatot Subroto Kav. 36-38<br> 
            Jakarta 12190 Indonesia<br> Telp: 14000, +62-21-52997777<br> 
            Fax: +62-21-52997735<br> Email: mandiricare@bankmandiri.co.id<br> 
            SWIFT Code: BMRIIDJA</p>
    </div>
</div>
<footer>
    <div class="text-center">
        &copy;2020 PT Bank Mandiri (Persero) Tbk.
    </div>
</footer>
