<nav appNavNavbar>
    <a class="navbar-brand">
        <img src="../../../assets/bank-mandiri.svg" width="80" height="40" alt="">
    </a>
    <ul class="navbar-nav ml-2 flex-row">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/product/ff80808178fdba3a0178fdbbe0b10000" >Platinum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product/ff80808178f965fd0178f973f14b0001" >Gold</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product/ff80808179133ef301791354eb3b0002">Silver</a>
      </li>
    </ul>
    <button type="button" class="btn disabled btn-secondary">{{dateNow | dateformat}}</button>
    <form class="d-flex flex-row searchbar">
        <input class="search_input" type="text" name="" placeholder="Search...">
        <a href="#" class="search_icon"><em class="fas fa-search"></em></a>
    </form>
    <a routerLink="/profile" class="d-flex align-items-center link-dark text-decoration-none">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>{{fullName}}</strong>
    </a>
</nav>
