<nav appNavNavbar>
    <a class="navbar-brand">
        <img src="../../../assets/bank-mandiri.svg" width="80" height="40" alt="">
    </a>
    <ul class="navbar-nav ml-2 flex-row">
      <li class="nav-item active">
        <a class="nav-link" href="#platinum">Platinum <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#gold">Gold</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#silver">Silver</a>
      </li>
    </ul>
    <button type="button" class="btn disabled btn-secondary">{{dateNow | dateformat}}</button>
    <form class="d-flex flex-row searchbar">
        <input class="search_input" type="text" name="" placeholder="Search...">
        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
    </form>
</nav>
