<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
        <img src="../../../assets/bank-mandiri.svg" width="80" height="40" alt="">
    </a>
    <ul class="navbar-nav ml-2 flex-row">
      <li class="nav-item active">
        <a class="nav-link" href="#platinum">Platinum <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#gold">Gold</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#silver">Silver</a>
      </li>
    </ul>
    <form class="d-flex flex-row">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
