<div class="benefit-container">
    <div class="benefit-image-container d-none d-sm-flex">
        <img src="../../../../../assets/subs.png" alt="">
    </div>
    <div class="benefit-detail-container">
        <h5 class="mb-2 mb-md-3">Why Mandiri Gold ?</h5>
        <div class="d-flex justify-content-between benefit-row">
            <div class="benefit-card card">
                <div class="card-body">
                    <h5 class="card-title">Delivery</h5>
                    <p class="card-text">We have free delivery service to all city in Indonesia.</p>
                  </div>
            </div>
            <div class="benefit-card card">
                <div class="card-body">
                    <h5 class="card-title">Legality</h5>
                    <p class="card-text">We commit to keep your trusted with legality transaction.</p>
                </div>
                </div>
            <div class="benefit-card card">
                <div class="card-body">
                    <h5 class="card-title">Price</h5>
                    <p class="card-text">Good quality with the best prices.</p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between benefit-row">
            <div class="benefit-card card">
                <div class="card-body">
                    <h5 class="card-title">Reward</h5>
                    <p class="card-text">More transaction more point and reward.</p>
                  </div>
            </div>
            <div class="benefit-card card">
                <div class="card-body">
                    <h5 class="card-title">Transaction</h5>
                    <p class="card-text">Our transaction is simple and secure.</p>
                </div>
                </div>
            <div class="benefit-card card">
                <div class="card-body">
                    <h5 class="card-title">Brand</h5>
                    <p class="card-text">Our product is the best on quality and brand.</p>
                </div>
            </div>
        </div>
        <h5 class="mb-2 mb-md-3">Let's Join us for free</h5>
        <button type="button" class="btn">Register</button>
    </div>
</div>
