<div class="card h-100">
  <div class="h-100">
    <div class="col-12 p-4">
        <div class="d-flex">
          <div class="col-9 d-flex flex-column">
            <h3>{{name}}</h3>
            <h6>Fullstack Engineer</h6>
          </div>
          <div class="col-3 d-flex flex-column align-items-end">
            <button CustomButton class="btn">
              Edit Profile
            </button>
          </div>
        </div>
        <div class="my-4">
          <h6>About</h6> 
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque inventore ratione incidunt minima. Et sapiente laboriosam ab voluptate, perspiciatis labore dolores rem minima. Minus pariatur, fuga officiis nisi temporibus ipsam.
            Omnis, ex architecto ad pariatur dolorum nisi rerum corporis recusandae neque voluptatem in, quia, quod commodi sunt asperiores dolore nostrum delectus! Laudantium distinctio earum, accusamus nulla nisi laboriosam vero natus?
            Iusto expedita consequatur vero ipsa fuga neque doloremque suscipit nobis voluptatem natus a at, illo ullam cumque quo ab tempore totam officiis possimus ipsam sequi. Est quis omnis quaerat inventore.
            Expedita excepturi id, error fugiat cupiditate enim? Sed, eum rerum neque ut amet voluptatem! Ad blanditiis velit minima. Iusto recusandae est numquam, temporibus illo laudantium? Quisquam pariatur voluptatibus necessitatibus dolor?
            Perspiciatis praesentium, veritatis sed ex nisi magni exercitationem nam odit illo fugiat optio obcaecati, maiores voluptatem officia quasi architecto porro voluptates, repellendus illum. Iusto consectetur ipsam distinctio maiores sed quibusdam?
          </p>
        </div>
    </div>
  </div>
</div>
