.pocket {
  // background-color: aqua;
  max-width: 20vw;
  width: 20vw;
  margin-right: 20px;
  border-radius: 16px;
}
.porto-image{
  width: 80px;
  height: 80px;
}
.btn-lg {
  padding: 13px 16px;
}
.product-pocket {
  width: 30px;
  height: 30px;
}