.pocket {
  // background-color: aqua;
  max-width: 20vw;
  width: 20vw;
  margin-right: 20px;
  border-radius: 16px;
}
.porto-image{
  width: 80px;
  height: 80px;
}
.btn-lg {
  padding: 13px 16px;
}
.product-pocket {
  width: 30px;
  height: 30px;
}
.pocket p {
  color: white;
}
.bg-c-blue {
  background: linear-gradient(45deg,#4099ff,#73b4ff);
}
.bg-c-green {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}
.bg-c-yellow {
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
}
.bg-c-pink {
  background: linear-gradient(45deg,#FF5370,#ff869a);
}